@model Eventures.Web.ViewModels.Events.MyEventsViewModel;

@{
    ViewData["Title"] = "My Events";
}

<h2 style="text-align: center; font-weight: bold">@ViewData["Title"]</h2>

<div class="container">
    <hr style="height: 3px; background-color: #66ffff" />
    <table class="table table-hover">
        <thead>
        <tr style="font-weight: bold">
            <th>#</th>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
            <th>Tickets</th>
        </tr>
        </thead>
        <tbody>
        
        
        @{
            var counter = 1;

            foreach (var item in Model.MyEvents)
            {
                <tr>
                    <td>@counter</td>
                    <td>@item.Name</td>
                    <td>@item.Start</td>
                    <td>@item.End</td>
                    <td>@item.Ticket</td>
                </tr>

                counter++;
            }
        }
        </tbody>
    </table>

    <hr style="height: 3px; background-color: #66ffff" />

</div>


